/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* MENÚ PRINCIPAL */

.tamanyBboxMenuPrincipal{
    -fx-pref-width: 450;
    -fx-prer-height: 900;

}
.tamanyVboxMenuPrincipal{
    -fx-pref-width: 150;
    -fx-alignment: center;
}

/* FINESTRES */

.tamanyFinestraVboxPrincipal{
    -fx-pref-width: 379;
    -fx-pref-height: 280;
}
.tamanyHboxSecundaris{
    -fx-pref-height: 70;
}
/* BUTTONS GUARDAR / VOLVER */

.buttonsMenuPrincipal{
    -fx-pref-width: 130; 
}

.buttonsGuardarVolver{
    -fx-pref-width: 80; 
}

.hboxbuttonsGuardarVolver{
    -fx-pref-height: 90;
    -fx-alignment: center-left;
}

/* INTRODUCCIÓ DE DADES */

.textFieldIntrodiurDades{
    -fx-pref-width: 187;
}


