/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* MENÚ PRINCIPAL */

.tamanyBboxMenuPrincipal{
    -fx-pref-width: 450;

}
.tamanyVboxMenuPrincipal{
    -fx-pref-width: 150;
    -fx-alignment: center;
}

.buttonsMenuPrincipal{
    -fx-pref-width: 130; 
   /* -fx-margin-top: 40; */
}
